@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


 
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 45px;
    
}

.nft-card {

    display: flex;
    align-items: center;
    margin-inline: auto;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    height: 90vh;
    border-radius: 10px;
    box-shadow: 0px 20px 25px 15px rgba(0, 0, 0, 0.05),
    0px 40px 30px 15px rgba(0, 0, 0, 0.1);
    
}

.nft-image img {

    width: 45vh;
    height: 45vh;
    margin-top: -10px;
    border-radius: 10px
   

}

.nft-image {

    position: relative;
    
    

}

.nft-image::after {
    background-color: hsla(178, 100%, 50%, 0.5);
    content: url(./images/icon-view.svg);
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.25s ease;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 3px;
}

.nft-image:hover::after {
    opacity: 1;
}

/*
.nft-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:hsl(178, 100%, 50%, 0.5);
    border-radius: 10px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nft-image-overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.nft-image:hover .nft-image-overlay {
  
    opacity: 1;

}
*/





body {
    background-color: hsl(217, 54%, 11%);
 
}

.nft-body {
    margin-left: 20px;
    font-family: 'Outfit', sans-serif;

}

.eth-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.eth , .eth2 {
    display: flex;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.eth p {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    padding-left: 5px;
}


.eth2 {

    margin-right: 20px;
}

.eth2 p {

    color:  hsl(215, 51%, 70%);
    padding-left: 5px;
}



h3 {
    color: hsl(0, 0%, 100%);
    
}

h3:hover {
    color:hsl(178, 100%, 50%);
    opacity: 1; 
}

.para1 {
    font-size: 18px;
    color: grey;
}

hr {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-width: 0.005em;
}

.avatar_para {

    display: flex;
    align-content: center;
    justify-content: center;
    justify-content: space-between;
}

.avatar_para img {

    width: 45px;
    height: 45px; 
    border-radius: 50%;
    color: white; 
    border: 2px solid;
    
}

.avatar_para p {

    color: white;
    margin-right: 80px;
}

.avatar_para p:hover {
    color:hsl(178, 100%, 50%);
    opacity: 1;
}

span {

    color: hsl(215, 51%, 70%);
}